:root {
  --primary-color: #140B00;
}

#main {
  background-color: var(--primary-color);
  font-family: Arial, sans-serif;
  min-width: 100vh;
  height: 100vh;
  margin-left: auto; 
  margin-right: auto;
}

.search-bar {
  display: flex;
  justify-content: center; /* Centers the search bar */
  margin: 20px 0;
}

.search-bar input {
  width: 80%; 
  padding: 10px 20px;
  border: none; /* No border */
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease; 
  background-color: #261500;
  color: rgba(255, 255, 255, 0.7);
}

.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.7); 
}

.search-bar input:focus {
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.topicsNFilter{
  width: 80%; 
  min-height: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.topics {
  min-height: 100px;
  width:70%;
  padding-left: 15px;
}

.topicsHeader {
  display: flex;
}

.topics h2 {
  color: #E4B887;
}
.topics h3 {
  color: #E79D52;
}

.trending {
  color: white;
  font-style: italic;
  margin-left: 20px;
  margin-top: 25px;
}

.topics p {
  color: white;
}

.topicsContent {
  display: flex;
  margin-top: 0;
}

.history {
  width: 30%;
}

.generated {
  width: 70%;
}

.list {
  width: 100%;
  display: flex;
}

.topicsGroup {
  width: 40%;
}

.filter {
  min-height: 200px;
  width:30%;
  padding-left: 15px;
  padding-top:10px;
}

.filter h2 {
  color: #E4B887;
}
.filter h3 {
  color: #E79D52;
}


.filter h2,
.filter h3 {
  margin: 0;
  margin-top: 19px;
  padding-bottom: 10px;
}

.filter-section {
  margin-bottom: 20px;
  /* display: flex; */
}

.checkbox-group label {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  color: white;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.category {
  display: flex;
}

.icons {
  margin-left: 20px;
  margin-top: 12px;
  max-width: 30%;
  color: white;
  display: flex;
  font-size: 24px; /* Change as needed */
}

.icons span {
  cursor: pointer;
}