.header {
    display: flex;          
    flex-direction: row; 
    justify-content: flex-end;
    background-color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 8px;
    height: 80px;
    width: 100%;
  }
  
  .horizontal-text {
    margin-top: 34px;
    margin-right: 30px;
    margin-left: 30px; 
    color: #E4B887;
    white-space: nowrap;
    text-decoration: none;
  }

  .header-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
  }

  .orange-circle {
    background-color: #E79D52;
    margin-top: 8.5%;
    margin-bottom: 9.5%;
    width: 38px;
    border-radius: 150px;
  }

  .add {
    color: #2B1700;
    font-weight: bold;
    font-size: 45px;
    margin-top: -3px;
    margin-left: 6.7px;
  }


  #home-link {
    flex-grow: 1; /* Added this property */
    display: flex; /* Ensures the image aligns to the left within the link */
    justify-content: flex-start; /* Aligns the image to the left */
  }

  .header-image{
    height: 70px;
    margin-top: 5px;
  }

  .header-image2{
    margin-right: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
    height: 30px;
  }