.text-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s ease-in-out;
}
.header-long-text {
    height : 10px;
    flex-direction: row;
    margin-bottom: 20px;
    transition: top 0.3s;


}
