:root {
  --primary-color: #140B00;
}

#main {
  background-color: var(--primary-color);
  font-family: Arial, sans-serif;
  min-width: 100vh;
  height: 100vh;
  margin-left: auto; 
  margin-right: auto;
}